<h1>Register</h1>
<form action="/user/register/" method="POST">
  <div class="field-input">
    <label for="name">Name</label>
    <input type="text" id="name" name="username" required value="<% if (locals.user) { %> <%= user.username %> <% } %>">
  </div>
  <div class="field-input">
    <label for="name">First Name</label>
    <input type="text" id="name" name="firstname" required value="<% if (locals.user) { %> <%= user.firstname %> <% } %>">
  </div>
  <div class="field-input">
    <label for="name">Last Name</label>
    <input type="text" id="name" name="lastname" required value="<% if (locals.user) { %> <%= user.lastname %> <% } %>">
  </div>
  <div class="field-input">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required value="<% if (locals.user) { %> <%= user.email %> <% } %>">
  </div>
  <% if (locals.user) { %>
    <div class="field-input">
      <label for="oldpassword">Old Password</label>
      <input type="password" id="oldpassword" name="oldpassword">
    </div>
  <% } %>
    
  

  <div class="field-input">
    <label for="password">New Password</label>
    <input type="password" id="password" name="password" 
    <% if (!locals.user) { %>
      required
    <% } %>
    >
  </div>
  <div class="field-input">
    <label for="password2">Retype Password</label>
    <input type="password" id="password2" name="password2"
    <% if (!locals.user) { %>
      required
    <% } %>
    >
  </div>
  <button type="submit">
    <% if (!locals.user) { %>
      Register
    <% } else { %>
      Submit
    <% } %>
  </button>
</form>